{% extends 'base.html' %}

{% block title %}
  Create Todo Lists
{% endblock title %}

{% block content %}
  <header>
    <nav>
      <a href="{% url 'todo_list_list' %}">main page</a>
    </nav>
  </header>
  <main>
    <div>
        <h1>Create a new list</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Create</button>
        </form>
    </div>
  </main>
{% endblock content %}
