{% extends 'base.html' %}

{% block title %}
  Todo Lists
{% endblock title %}

{% block content %}
  <main>
    <div>
        <h1>{{ todo_list_detail.name }}</h1>
        <div>
        <p>
          <a href="{% url 'todo_list_update' todo_list_detail.id %}">EDIT</a>
        </p>
        </div>
        <p>
          <a href="{% url 'todo_list_delete' todo_list_detail.id %}">DELETE</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in todo_list_detail.items.all %}
              <tr>
                <td>{{ item.task }}</td>
                <td>{{ item.due_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </main>
{% endblock content %}
