{% extends 'base.html' %}

{% block title %}
  Edit or Update Todo Lists
{% endblock title %}

{% block content %}
   <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">main page</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Update List</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
              </form>
        </div>
    </main>
{% endblock content %}
