{% extends 'base.html' %}

{% block title %}
  Todo Lists
{% endblock title %}

{% block content %}
  <main>
    <div>
        <h1>My Lists</h1>
          <div>
            <p>
              <a href="{% url 'todo_list_create' %}">Create a New List</a>
            </p>
          </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
          </thead>
          <tbody>
            {% for item in todo_list %}
              <tr>
                <td>
                  <a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a>
                </td>
                <td>{{ item.items.count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </main>
{% endblock content %}
