@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    height: 100vh;
}

footer {
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {
    border-bottom: solid black 1px;
    padding: 16px;
}

a {
    text-decoration: none;
}

td {
    text-align: left;
    padding-right: 40px;
}

th {
    text-align: left;
    padding-right: 40px;
}

a:hover {
    color: green;
}

html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
